body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  margin: 2em 0;
}

img {
  width: 100%;
  margin-bottom: 0.5em;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.grid {
  display: flex;
}

.grid-col {
  flex: 1;
  padding: 0 .5em;
}

.grid-col--2, .grid-col--3 {
  display: none;
}

.content {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  margin-top: 0.5em;
  margin-left: 0.5em;

  h2 {
    margin: .2em .5em;
    font-size: 1em;
  }
}

@media (min-width: 768px) {
  .container {
    width: 90%;
  }

  h1 {
    margin: 3em 0;
  }

  .grid-col--2 {
    display: block;
  }

  .grid-col {
    padding: 0 .5em;
  }
}

@media (min-width: 1080px) {
  .container {
    width: 80%;
  }

  h1 {
    margin: 3em 0;
  }

  .grid-col--2, .grid-col--3 {
    display: block;
  }

  .grid-col {
    padding: 0 .5em;
  }
}

.grid-item:hover {
  cursor: pointer;

  .content {
    opacity: 1;
    transform: translateX(0);
  }
}